<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="EventStoreService.EventStoreServiceConfiguration, EventStoreService, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <eventStore>
      <instance name="Development" tcpPort="4532" httpPort="5500" dbPath="c:\apps\geteventstore\database" />
      <!--<instance name="Staging" tcpPort="5532" httpPort="6500" dbPath="F:\staging" />-->
  </eventStore>
  
</configuration>